:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.empty {
    position: absolute;
    bottom: 0;
    width: 75%;
    opacity: .5;
    align-self: center;
}
section {
    padding: .75em;
}
