.container {
    position: absolute;
    margin: auto;
    width: 800px;
    max-width: 100%;
    min-height: 100%;
    box-shadow: 0 0 10px #ccc;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}
footer {
    text-align: center;
    font-size: xx-small;
    padding: .1em 0;
    color: white;
    background-color: #ddd;
}