:host {
    flex-grow: 1;
}
section {
    .header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
        max-height: fit-content;
        overflow: hidden;
        transition: height .5s .1s, transform .3s;
        &.expanded {
            height: 95vh;
            transform: scale(1.05);
            transition: height .5s, transform .3s .2s;
            box-shadow: 0 5px 10px grey;
        }
        .backdrop {
            width: 100%;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    h1 {
        padding: 0 5%;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: white;
        text-shadow: 1px 1px 4px black;
    }
    p {
        font-size: .8em;
        margin: 1em 5%;
    }
}
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}