:host {
    flex-grow: 1;
}
section {
    padding: .75em 2em;
    p {
        font-size: .8em;
    }
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}
.poster {
    float: right;
    width: 200px;
    margin: 0;
    padding-left: 1em;
    transition: transform .25s;
    &:hover { transform: scale(1.05) }
    img {
        width: 200px;
    }
}
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}