<section *ngIf="person; else loading">
    <div class="header" (click)= "expanded = !expanded" [class.expanded]="expanded">
        <img #profile class="backdrop" src="{{person.profile_path | imagePath}}" alt="poster" (load)="profileLoaded = true" [class.loaded]="profileLoaded">
        <div class="overlay">
            <h1>{{person.name}}</h1>
        </div>
    </div>
    <p [class.clamp]="!clamped" (click)="clamped = !clamped">{{person.biography}}</p>
    <app-credits [id]="person?.id" [mediaType]="'person'"></app-credits>
</section>

<ng-template #loading>
    <div class="loading-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>