:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.mat-nav-list {
    padding: 0;
    background-color: white;
    .mat-list-item {
        overflow: hidden;
        height: 88px;
        .mat-list-icon {
            padding: 0;
        }
        a {
            white-space: normal;
        }
        span {
            color: #666;
            white-space: normal;
            font-size: 9pt;
            line-height: 11pt;
            dfn { font-style: normal }
        }
        img.poster {
            height: 150%;
            max-width: 88px;
            margin: 0 -16px 0 0;
            box-shadow: 0 0 20px grey;
            transform: rotate(0deg) translateX(104px);
            transition: transform .5s;
            &.loaded { transform: rotate(10deg) translateX(0) }
        }
        img.still {
            height: 100%;
            margin: 0 -16px 0 4px;
            padding: 0 3px;
            background-color: black;
            border: dotted white;
            border-width: 0 5px;
        }
        em {
            background-color: #666;
            color: white;
            font-style: normal;
            font-size: x-small;
            line-height: 15pt;
            padding: 1px 4px;
            display: inline-block;
            border-radius: 11px;
        }
    }
}
