<section *ngIf="records" class="mat-typography">
    <mat-nav-list>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let record of records" [ngSwitch]="record.media_type">

            <mat-list-item *ngSwitchCase="'tv'" routerLink="/details/series/{{record.id}}">
                <mat-icon matListIcon>live_tv</mat-icon>
                <a matLine>{{record.name}}</a>
                <span matLine>
                    <em [style.backgroundColor]="ratingHSL(record.vote_average)">{{record.vote_average | number:'1.1-1'}}</em>
                    {{record.first_air_date | date:'yyyy'}}
                    {{record.original_name !== record.name ? ': ' + record.original_name : ''}}
                </span>
                <span matLine></span>
                <img src="{{record.poster_path | imagePath:'w342'}}" class="poster" alt="poster" (load)="record.loaded = true" [class.loaded]="record.loaded">
            </mat-list-item>

            <mat-list-item *ngSwitchCase="'season'" routerLink="/details/season/{{parentId}}/{{record.season_number}}">
                <mat-icon matListIcon>subscriptions</mat-icon>
                <a matLine>{{record.name}}</a>
                <span matLine>
                    {{record.air_date | date:'yyyy'}}: {{record.episode_count}} episodes
                </span>
                <img src="{{record.poster_path | imagePath:'w342'}}" class="poster" alt="poster" (load)="record.loaded = true" [class.loaded]="record.loaded">
            </mat-list-item>

            <mat-list-item *ngSwitchCase="'episode'" routerLink="/details/episode/{{parentId}}/{{record.season_number}}/{{record.episode_number}}">
                <a matLine>{{record.episode_number}}. {{record.name}}</a>
                <img src="{{record.still_path | imagePath:'w500'}}" class="still" alt="still" (load)="record.loaded = true" [class.loaded]="record.loaded">
            </mat-list-item>

            <mat-list-item *ngSwitchCase="'person'" routerLink="/details/person/{{record.id}}">
                <mat-icon matListIcon>person</mat-icon>
                <a matLine>{{record.name}}</a>
                <span matLine><dfn *ngFor="let movie of record.known_for; let i = index"><i *ngIf="i">, </i>{{movie.title}}</dfn></span>
                <img src="{{record.profile_path | imagePath:'w342'}}" class="poster" alt="profile" (load)="record.loaded = true" [class.loaded]="record.loaded">
            </mat-list-item>
            
            <mat-list-item *ngSwitchDefault routerLink="/details/movie/{{record.id}}">
                <mat-icon matListIcon>videocam</mat-icon>
                <a matLine>{{record.title}}</a>
                <span matLine>
                    <em [style.backgroundColor]="ratingHSL(record.vote_average)">{{record.vote_average | number:'1.1-1'}}</em>
                    {{record.release_date | date:'yyyy'}}
                    {{record.original_title !== record.title ? ': ' + record.original_title : ''}}
                </span>
                <img src="{{record.poster_path | imagePath:'w342'}}" class="poster" alt="poster" (load)="record.loaded = true" [class.loaded]="record.loaded">
            </mat-list-item>

            <mat-divider></mat-divider>
        </ng-container>
    </mat-nav-list>    
</section>