/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./declarations.scss";

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    margin: 0;
    width: 100%;
    min-height: 100%;
}
.mat-chip.mat-standard-chip {
    font-size: .7em;
    padding: 5px 6px;
}
h4 {
    padding: .5em 5%;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    background-color: #67c;
    margin: 0;
}
form + h4 {
    margin-top: -1.3em;
}