<form (submit)="submitSearch(searchInput.value)">
    <mat-form-field appearance="fill">
        <input matInput type="text" required autofocus autocomplete="off" 
            #searchInput
            [(ngModel)]="searchText"
            name="searchInput"/>
        <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
    </mat-form-field>
</form>
<h4 *ngIf="response; else empty">FOUND {{response.total_results | number}} RECORDS</h4>
<app-records [records]="response?.results"></app-records>

<ng-template #empty>
    <img class="empty" src="/assets/images/empty-search{{emptyIndex}}.png">
</ng-template>