@import '~@angular/material/theming';
// Create a config with the default typography levels.
$config: mat-typography-config();

mat-form-field {
    width: 100%;
    input {
        font-size: mat-font-size($config, display-1);
    }
}
:host {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.empty {
    position: absolute;
    bottom: 0;
    width: 75%;
    opacity: .5;
    align-self: center;
}
