<div class="container">
    <section>
        <a href="//imdb.com/title/{{movie.imdbID}}" target="_new">
            <img class="poster" src="{{movie?.Poster}}" alt="poster">
        </a>
        <table>
            <tr><td>Genre</td><td>{{movie?.Genre}}</td></tr>
            <tr><td>Released</td><td>{{movie?.Released}}</td></tr>
            <tr><td>Runtime</td><td>{{movie?.Runtime}}</td></tr>
            <tr><td>Language</td><td>{{movie?.Language}}</td></tr>
            <tr><td>IMDB rating</td><td>{{movie?.imdbRating}}</td></tr>
            <tr><td>Rated</td><td>{{movie?.Rated}}</td></tr>
            <tr><td>Writer</td><td>{{movie?.Writer}}</td></tr>
            <tr><td>Actors</td><td>{{movie?.Actors}}</td></tr>
        </table>

        <h3>Plot</h3>
        <p>{{movie?.Plot}}</p>

        <div *ngIf="movie?.totalSeasons">
            <h3><a (click)="movie.seasonsExpanded = !movie.seasonsExpanded">Seasons ({{movie?.totalSeasons}})</a></h3>
            <div *ngIf="movie.seasonsExpanded">
                <app-season *ngFor="let season of getMovieSeasons(); let i = index" [parentId]="movie.imdbID" [seasonSeq]="i+1"></app-season>
            </div>
        </div>
    </section>
</div>