<section *ngIf="movie; else loading">
    <a class="poster" href="//imdb.com/title/{{movie.imdb_id}}" target="_new">
        <img src="{{imagePath(movie.poster_path)}}" alt="poster">
    </a>
    <h1>{{movie.title}} <mat-icon *ngIf="movie.adult">explicit</mat-icon></h1>
    <mat-chip-list class="genres">
        <mat-chip *ngFor="let genre of movie.genres" routerLink="/genre/{{genre.id}}">{{genre.name}}</mat-chip>
        <mat-chip color="primary" selected="true">{{movie.vote_average}}</mat-chip>
    </mat-chip-list>
    <p>Released: {{movie.release_date | date}}</p>
    <p>Runtime: {{timeToHM(movie.runtime)}}</p>
    <p>{{movie.overview}}</p>
    <app-credits [id]="movie.id"></app-credits>
    <div *ngIf="movie.seasons">
        <h3>Seasons</h3>
        <mat-list>
            <mat-list-item *ngFor="let season of movie.seasons">
                <span matLine>{{season.name}}</span>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>    
    </div>
</section>
<ng-template #loading>
    <h3>Loading...</h3>
</ng-template>