<section *ngIf="movie; else loading">
    <div class="header">
        <img class="backdrop"
            src="{{(movie.backdrop_path ? movie.backdrop_path : movie.poster_path ? movie.poster_path : movie.still_path) | imagePath}}"
            (load)="backdropLoaded = true"
            [class.loaded]="backdropLoaded">
        <div class="overlay">
            <h1>{{movie.name}} <mat-icon *ngIf="movie.adult">explicit</mat-icon></h1>
            <mat-chip-list class="genres">
                <mat-chip *ngFor="let genre of movie.genres" routerLink="/genre/{{genre.id}}">{{genre.name}}</mat-chip>
                <mat-chip color="primary" selected="true" *ngIf="movie.vote_average">{{movie.vote_average | number:'1.1-1'}}</mat-chip>
            </mat-chip-list>
        </div>
    </div>
    
    <p>{{movie.overview}}</p>
    <p *ngIf="movie.release_date">Released: {{movie.release_date | date}}</p>
    <p *ngIf="movie.runtime">Runtime: {{movie.runtime | runtime}}</p>

    <h3>Cast</h3>
    <app-credits [id]="parentId ? parentId : movie.id" [mediaType]="mediaType" [season]="seasonSeq" [episode]="episodeSeq"></app-credits>

    <div *ngIf="movie.seasons">
        <h4>Seasons</h4>
        <app-records [records]="movie?.seasons" [parentId]="movie.id"></app-records>
    </div>

    <div *ngIf="movie.episodes">
        <h4>Episodes</h4>
        <app-records [records]="movie?.episodes" [parentId]="parentId"></app-records>
    </div>
</section>

<ng-template #loading>
    <div class="loading-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>