@import "../../declarations.scss";

section {
    padding: .75em 1em;
    h1 {
        color: white;
        font-weight: 500;
        text-shadow: 1px -1px 3px black;
    }
    p {
        font-size: .8em;
    }
}
.poster {
    float: right;
    margin: 0;
    padding-left: 1em;
    transition: transform .25s;
    &:hover { transform: scale(1.05) }
    img {
        width: 200px;
        opacity: 1;
    }
    @media screen and (max-width: $tablet) { display: none }
}
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}